
.navbar {
    &__collapse {
    }
    &__collapse-ul {
    }
    &__collapse-li {
        a {
            font-weight: 600;
            font-style: normal;
            letter-spacing: .3px;
            font-size: 1.0625rem;
            line-height: 1.28;
            text-transform: uppercase;
            padding: 28px 18px 26px;
            color: $dark-blue !important;

            &:hover {
                color: $primary !important;
            }
        }
    }
}
