.navbar__collapse-li a {
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.3px;
  font-size: 1.0625rem;
  line-height: 1.28;
  text-transform: uppercase;
  padding: 28px 18px 26px;
  color: #140a47 !important;
}
.navbar__collapse-li a:hover {
  color: #001489 !important;
}

.home-banner__carousel {
  width: 100%;
  height: calc(100vh - 91px);
}
.home-banner__carousel-inner {
  width: 100%;
  height: calc(100vh - 91px);
}
